@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-variant-ligatures: no-common-ligatures;
  background-color: #f0f0f0;
}

section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

a {
  color: #0563bb;
  text-decoration: none;
}
a:hover {
  color: #067ded;
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Poppins", sans-serif;
}

h6 {
  font-family: "Poppins", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  z-index: 99999;
  transition: 0.4s all;
}
#header .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .nav-link {
  margin: 0 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
#header .nav-link:hover {
  text-shadow: 0px 0px 10px #eeff30;
}
#header.fix_style {
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7058823529);
  transition: none;
  opacity: 0;
  pointer-events: none;
}
#header.fixed {
  pointer-events: all;
  opacity: 1;
  transition: 0.4s all;
}

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  border: none;
  width: 163px;
  height: 47px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
  color: #eeff30;
}
.btn.app_btn {
  position: relative;
}
.btn.app_btn img {
  width: 100px;
}
.btn.app_btn img:nth-child(2), .btn.app_btn img:nth-child(3) {
  display: none;
}
.btn.app_btn:hover {
  background-color: #000000;
  color: #eeff30;
  box-shadow: 0px 0px 10px #eeff30;
}
.btn.app_btn:hover img:first-child {
  display: none;
}
.btn.app_btn:hover img:nth-child(2) {
  display: block;
}
.btn.app_btn:focus, .btn.app_btn:active {
  background-color: #eeff30;
  color: #000000;
}
.btn.app_btn:focus img:first-child, .btn.app_btn:active img:first-child {
  display: none;
}
.btn.app_btn:focus img:nth-child(2), .btn.app_btn:active img:nth-child(2) {
  display: none;
}
.btn.app_btn:focus img:nth-child(3), .btn.app_btn:active img:nth-child(3) {
  display: block;
}

#hero {
  position: relative;
  padding-top: 0;
}
#hero::after {
  content: "";
  display: block;
  background-image: url(../img/hero_bottom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center;
  margin-top: -50px;
  position: absolute;
  bottom: -83px;
  left: 0;
  right: 0;
}
#hero .hero_text p {
  margin-bottom: -14px;
}
#hero .hero_text p span {
  display: inline-block;
  width: 60px;
  height: 10px;
  background-color: black;
}
#hero .hero_text h1 {
  font-size: 105px;
  font-weight: bold;
  -webkit-text-stroke: 1px #eeff30;
}
#hero .hero_slider {
  display: flex;
  position: relative;
}
#hero .hero_slider::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/hero-bg-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .hero_slider #slides {
  width: 300px;
  margin: 10px auto 0;
}
#hero .hero_slider #slides .owl-item {
  border-radius: 25px;
  overflow: hidden;
}
#hero .hero_slider #slides .owl-stage-outer {
  border-radius: 30px;
}
#hero .hero_slider #slides .owl-dots {
  margin-top: 20px;
}
#hero .hero_slider #slides .owl-dots .owl-dot span {
  background-color: white;
  border: 1px solid #000000;
  width: 15px;
  height: 15px;
}
#hero .hero_slider #slides .owl-dots .owl-dot.active span {
  background-color: #eeff30;
}
#hero .hero_slider .iphone_frame {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 323px;
}
#hero .hero_slider .iphone_frame img {
  vertical-align: middle;
  border-style: none;
}

#features {
  background-color: #000000;
}
#features h2 {
  color: #eeff30;
}
#features p {
  color: #eeff30;
}
#features .feature div {
  text-align: center;
  margin-bottom: 2rem;
}
#features .feature div span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 10;
}
#features .feature div i {
  color: #000000;
}
#features .feature div p {
  color: #000000;
}
#features .feature_detail {
  background-color: #f0f0f0;
  border-radius: 30px;
  position: relative;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 20px;
  border: 2px solid #eeff30;
}
#features .hf-img {
  position: relative;
  margin: auto;
}
#features .hf-img img {
  position: absolute;
  height: 460px;
  top: -125px;
  margin: auto;
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.168627451);
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#features::after {
  content: "";
  display: block;
  background-image: url(../img/feature_bottom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center;
  margin-top: -50px;
  position: absolute;
  bottom: -98px;
  left: 0;
  right: 0;
}

#how_it_work.how_it_works .how_it_inner {
  background-color: white;
  padding: 70px 0;
  border-radius: 30px;
  box-shadow: 0px 4px 30px #ede9fe;
  border: 2px solid #eeff30;
}
#how_it_work.how_it_works .how_it_inner .step_block ul {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li:first-child::before {
  top: 0;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li:nth-child(2) {
  flex-direction: row-reverse;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  width: 4px;
  height: calc(100% + 100px);
  background-color: #000000;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li:first-child::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background-color: #000000;
  border-radius: 15px;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li:last-child::before {
  height: 50%;
  top: 0;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_text,
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_img {
  width: 360px;
  text-align: right;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_text h4,
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_img h4 {
  font-size: 20px;
  font-weight: 600;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_text img,
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_img img {
  max-width: 100%;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_number {
  background-image: url(../../images/icon_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 110px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#how_it_work.how_it_works .how_it_inner .step_block ul li .step_number h3 {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
--------------------------------------------------------------*/
/*--------------------------------------------------------------
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.app_test {
  width: 100%;
  max-width: 575px;
}
.app_test::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
}
.app_test * {
  box-sizing: border-box;
}
.app_test button {
  transition: all 0.3s ease-in-out;
}
.app_test ::-moz-placeholder {
  color: rgb(182, 182, 182);
}
.app_test ::placeholder {
  color: rgb(182, 182, 182);
}
.app_test header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.app_test header .logo {
  display: inline-block;
}
.app_test header .logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0;
}
.app_test header .logo span {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 3px;
  background-color: black;
  left: 12px;
  top: 6px;
}
.app_test header .user {
  display: inline-block;
  justify-content: space-between;
}
.app_test header .user span {
  font-size: 12px;
}
.app_test header .user img {
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.app_test .list {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
  background: #1b1b1b;
  box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
@media (min-width: 768px) {
  .app_test .list {
    display: grid;
    align-items: self-end;
    grid-template-columns: 41.5% 1fr;
    grid-template-rows: auto max-content;
    padding: 0;
  }
}
.app_test .list .list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #272727;
  width: 100%;
}
.app_test .list .list-header .list-title {
  display: flex;
  align-items: center;
}
.app_test .list .list-header .list-title h1 {
  color: white;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
}
.app_test .list .list-header .list-title .form-control {
  font-size: 24px !important;
  font-weight: 700 !important;
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
.app_test .list .list-header .list-title .form-control::-webkit-input-placeholder {
  color: white;
}
.app_test .list .list-header .list-title .form-control:focus {
  outline: none;
  box-shadow: none;
}
.app_test .list .list-header .list-title i {
  color: white;
}
.app_test .list .list-header a {
  color: #eeff30;
}
.app_test .list .list-header .dropdown-menu {
  background-color: #000000;
  min-width: 50px;
  top: -10px !important;
  right: -11px !important;
}
.app_test .list .list-header .dropdown-menu li {
  display: flex;
}
.app_test .list .list-header .dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  background: #191919;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin: 5px 10px;
  transition: all 0.3s ease-in-out;
}
.app_test .list .list-header .dropdown-item:hover {
  background-color: #eeff30;
  color: #000000;
}
.app_test .list .list-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1b1b1b;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}
.app_test .list .list-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  background: #272727;
  border-radius: 5px;
}
.app_test .list .list-input .checkbox {
  background: #ffffff;
  border: 1px solid #272727;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}
.app_test .list .list-input::before {
  content: "";
  width: 10px;
  height: 20px;
  background-image: url(../img/drag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.app_test .list .add-items {
  width: 100%;
}
.app_test .list .add-items label {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #1b1b1b;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.app_test .list .add-items label i {
  color: white;
}
.app_test .list #to-do-app {
  display: flex;
  align-items: center;
}
.app_test .list #to-do-app input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .app_test .list #to-do-app {
    grid-row: span 2;
  }
}
@media (min-width: 768px) {
  .app_test .list #to-do-app .todos {
    min-height: 58vh;
    max-height: 58vh;
    overflow: auto;
  }
}
.app_test .list #to-do-app ::-webkit-scrollbar {
  width: 20px;
}
.app_test .list #to-do-app ::-webkit-scrollbar-track {
  background: rgb(255, 240, 245);
  border-radius: 30px;
}
.app_test .list #to-do-app ::-webkit-scrollbar-thumb {
  background: #f2a899;
  border: solid 7px rgb(255, 240, 245);
  border-radius: 30px;
}
.app_test .list #to-do-app ::-webkit-scrollbar-thumb:hover {
  background: #f2a899;
}
.app_test .list aside {
  text-align: right;
  font: italic 1.4rem "Caladea", serif;
  padding: 0 2.5rem;
}
.app_test .list .list-items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.app_test .list .list-items li {
  display: flex;
  order: -1;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  background: #272727;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
  transition: order 0.5s ease-in-out;
}
.app_test .list .list-items li input {
  display: none;
}
.app_test .list .list-items li label {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  display: block;
  padding-left: 30px;
}
.app_test .list .list-items li span.box {
  background: #ffffff;
  border: 1px solid #272727;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: 0.3s ease;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.app_test .list .list-items li span.box:after {
  content: "";
  position: absolute;
  background-image: url(../img/checkmark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  top: 4px;
  right: 3px;
  height: 20px;
  transition: all 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  opacity: 0;
  transform: scale(0);
}
.app_test .list .list-items li input:checked + label span.box {
  background: #000000;
  border-color: #000000;
}
.app_test .list .list-items li input:checked + label span.box:after {
  opacity: 1;
  transform: scale(1);
}
.app_test .list .list-items li:hover {
  background: rgba(255, 255, 255, 0.3);
}
.app_test .list .list-items li::before {
  content: "";
  width: 10px;
  height: 20px;
  background-image: url(../img/drag.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.app_test .list .list-items li.done {
  order: 1;
  opacity: 0.6;
}
.app_test .list .list-items li.done:hover {
  opacity: 1;
}
.app_test .list .list-items li.done label {
  text-decoration: line-through;
  opacity: 0.7;
}
.app_test .modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
  position: relative;
  background: #161616;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.app_test .modal .modal-content .modal-header {
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-align: left;
  border-bottom: none;
  padding: 0;
}
.app_test .modal .modal-content .modal-body {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.app_test .modal .modal-content .modal-body .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  color: white;
  background: #272727;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 5px 0;
}
.app_test .modal .modal-content .modal-body .list-item img {
  margin-right: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.app_test .modal .modal-content .modal-body .list-item button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  width: 77px;
  height: 30px;
  border-radius: 100px;
  border: none;
  background-color: #eeff30;
}
.app_test .modal .modal-content .modal-body .list-item button:hover {
  background-color: #000000;
  color: #eeff30;
}
.app_test .modal .modal-content .modal-footer {
  width: 100%;
  padding: 0;
  border-top: none;
}
.app_test .modal .modal-content .modal-footer .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 41px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 14px;
  background-color: #272727;
}
.app_test .modal .modal-content .modal-footer .btn:hover {
  background-color: #eeff30;
  color: #000000;
}/*# sourceMappingURL=style.css.map */